@font-face {
  font-family: "Digital-7";
  src: url("digital_7/digital-7.ttf") format("truetype");
}

body {
  background-color: #f8f9fa;
}

#timer {
  /* font-size: 3rem; */
  color: #000;
}

.digits {
  font-family: "Digital-7", monospace;
  font-size: 4rem;
}

.labels {
  font-family: sans-serif;
  margin-left: 0.2rem;
  margin-right: 0.5rem;
  font-size: 2rem;
}
.container {
  background: linear-gradient(
    135deg,
    rgb(194, 218, 75) 0%,
    rgb(56, 171, 228) 100%
  );
  padding: 30px;
  width: 60%;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #180755;
  font-size: 3rem;
  margin-bottom: 1rem;
}
